/* header */
header.css-1avcm0n.e8zbici2 {
    background: #39799C;
}

/* sidebar button */
button.css-1rs6os.edgvbvh3 {
    width: 200px;
}

/* side menu*/
div.css-6qob1r.e1fqkh3o3 {
    background-color: #39799C;
}

/* titles */
span.css-10trblm.e16nr0p30 {
    font-family: monospace;
}

/* general */
div.css-ffhzg2.eczokvf1 {
    background-color: #0B1A26;
}

/* labels 

label.css-k3w14i.effi0qh3 {
    font-style: oblique;
    color: #FFFFFF;
}

/* dropdown menu */
div.css-91z34k.egzxvld4 {
    background-color: #39799C;
    border: 1 px solid #FFB703;
    border-radius: 10px;
}

